 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('images/DALLE2024-03-2522.51.31-CreateaminimalisticandscientificallyaccurateillustrationofaGraphNeuralNetworkGNN.Theimageshouldfeatureasimplegraphwithseveraln.webp');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 389px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 64px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 81px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 424px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 307px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 317px;
  }
} .u-section-2 {
  min-height: 220px;
}

.u-section-2 .u-sheet-1 {
  min-height: 513px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 50px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 403px;
  background-image: none;
  --radius: 9px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 28px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 615px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -184px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 455px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 220px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 13px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -4px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 314px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 50px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 403px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 657px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 31px 0 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  width: 285px;
  margin: 19px auto 24px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 530px;
  grid-gap: 0px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-group-1 {
  width: 257px;
  min-height: 246px;
  height: auto;
  margin: 30px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 12px;
}

.u-section-3 .u-image-1 {
  width: 221px;
  left: 12px;
  right: auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: 19px 40px 0 67px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 12px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 12px 27px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 840px;
    margin-left: 250px;
    margin-right: 250px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-group-1 {
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 329px;
    margin-right: 329px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
    margin-right: 40px;
    margin-left: 67px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-text-4 {
    margin-left: 27px;
    margin-right: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 705px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 0;
    margin-bottom: 49px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 573px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-group-1 {
    margin-top: 37px;
    margin-right: 26px;
  }

  .u-section-3 .u-image-1 {
    left: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 12px;
    margin-right: 70px;
    margin-left: 97px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-4 {
    margin-top: 13px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 89px;
}

.u-section-4 .u-text-1 {
  margin: 18px auto;
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin: 34px 0 22px;
  }
} .u-section-5 {
  min-height: 739px;
}

.u-section-5 .u-shape-1 {
  height: 200px;
  margin: 168px auto 0 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  width: 1140px;
  margin: -329px auto 60px;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 550px;
  grid-gap: 0px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 40px 18px;
}

.u-section-5 .u-image-1 {
  width: 229px;
  height: 229px;
  background-image: url("images/IMG_3716.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-group-1 {
  width: 257px;
  min-height: 246px;
  height: auto;
  margin: 35px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 0 20px 25px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 0.875rem;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 40px 18px;
}

.u-section-5 .u-image-2 {
  width: 229px;
  height: 229px;
  background-image: url("images/jaspal1.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-group-2 {
  width: 257px;
  min-height: 246px;
  height: auto;
  margin: 35px auto 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 0 20px 25px;
}

.u-section-5 .u-text-4 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 0.875rem;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 0 40px 18px;
}

.u-section-5 .u-image-3 {
  width: 229px;
  height: 229px;
  background-image: url("images/peyman1.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-group-3 {
  width: 257px;
  min-height: 246px;
  height: auto;
  margin: 35px auto 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 0 0 20px 25px;
}

.u-section-5 .u-text-7 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-5 .u-text-9 {
  font-size: 0.875rem;
  font-style: normal;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 958px;
  }

  .u-section-5 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-list-1 {
    height: auto;
    width: 940px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 454px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-5 .u-image-1 {
    width: 183px;
    height: 183px;
  }

  .u-section-5 .u-group-1 {
    width: 200px;
    min-height: 248px;
    margin-top: -183px;
    height: auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-5 .u-image-2 {
    width: 183px;
    height: 183px;
  }

  .u-section-5 .u-group-2 {
    width: 200px;
    min-height: 248px;
    margin-top: -183px;
    height: auto;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-5 .u-image-3 {
    width: 183px;
    height: 183px;
  }

  .u-section-5 .u-group-3 {
    width: 200px;
    min-height: 248px;
    margin-top: -183px;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 1147px;
  }

  .u-section-5 .u-shape-1 {
    height: 800px;
    width: 820px;
    margin-top: 126px;
    margin-right: calc(((100% - 720px) / 2)  + -193px);
    margin-left: auto;
  }

  .u-section-5 .u-list-1 {
    width: 270px;
    margin-top: 0;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
    min-height: 1043px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 243px;
    height: 243px;
    margin-top: 87px;
    margin-right: 0;
  }

  .u-section-5 .u-group-1 {
    width: 376px;
    margin-top: -248px;
    margin-right: -456px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-image-2 {
    width: 243px;
    height: 243px;
    margin-top: 87px;
    margin-right: 0;
  }

  .u-section-5 .u-group-2 {
    width: 376px;
    margin-top: -248px;
    margin-right: -456px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-image-3 {
    width: 243px;
    height: 243px;
    margin-top: 87px;
    margin-right: 0;
  }

  .u-section-5 .u-group-3 {
    width: 376px;
    margin-top: -248px;
    margin-right: -456px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-shape-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-list-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    width: 214px;
    height: 214px;
  }

  .u-section-5 .u-group-1 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-2 {
    width: 214px;
    height: 214px;
  }

  .u-section-5 .u-group-2 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-5 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-3 {
    width: 214px;
    height: 214px;
  }

  .u-section-5 .u-group-3 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-5 .u-text-7 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-8 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 2945px;
  }

  .u-section-5 .u-shape-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-list-1 {
    width: 340px;
    margin-left: auto;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 1959px;
  }

  .u-section-5 .u-image-1 {
    width: 255px;
    height: 255px;
  }

  .u-section-5 .u-group-1 {
    min-height: 230px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }

  .u-section-5 .u-image-2 {
    width: 255px;
    height: 255px;
  }

  .u-section-5 .u-group-2 {
    min-height: 230px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }

  .u-section-5 .u-image-3 {
    width: 255px;
    height: 255px;
  }

  .u-section-5 .u-group-3 {
    min-height: 230px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-8 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }
}