.u-section-1 .u-sheet-1 {
  min-height: 139px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 43px auto 43px 13px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 392px;
}

.u-section-2 .u-text-1 {
  background-image: none;
  margin: 45px 20px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1926px;
}

.u-section-3 .u-text-1 {
  background-image: none;
  margin: 48px 20px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-7 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

.u-section-3 .u-btn-8 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

.u-section-3 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-12 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

.u-section-3 .u-text-2 {
  background-image: none;
  margin: 20px 20px 0;
}

.u-section-3 .u-btn-13 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

.u-section-3 .u-btn-14 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

.u-section-3 .u-btn-15 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

.u-section-3 .u-btn-16 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

.u-section-3 .u-btn-17 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-18 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

.u-section-3 .u-btn-19 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-20 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-21 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

.u-section-3 .u-text-3 {
  background-image: none;
  margin: 20px;
}

.u-section-3 .u-btn-22 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

.u-section-3 .u-btn-23 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-24 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-25 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-26 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-top: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 108px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-top: 55px;
  }
}